<app-toolbar></app-toolbar>
<app-calendar></app-calendar>
<!--app-test-cal></app-test-cal-->


<!--div class="row">
    <div class="col-lg-6">
        <h1>Crear tarea</h1>
        <form #createTask= "ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Tarea</mat-label>
                    <input matInput type="text" #title="ngModel" [(ngModel)]="task.title" name="taskTitle" class="form-control" required >
                    <mat-hint>Título de la tarea</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput #body="ngModel" [(ngModel)]="task.body" name="taskBody" class="form-control"></textarea>
                </mat-form-field>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
    <div class="col-lg-6">
        <mat-spinner *ngIf="!resourcesLoaded === false"></mat-spinner>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let item of this.taskList">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.title}}  
                    </mat-panel-title>
                    <mat-checkbox class="example-margin" [(ngModel)]="item.check" [disabled]="disabled" (change)="update(item._id, item.check)"></mat-checkbox>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="delete(item._id)">delete</mat-icon>
                </mat-expansion-panel-header>
                {{item.body}}
                
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div-->
